/* inter-200 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    src: url("/font/inter-v18-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("/font/inter-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("/font/inter-v18-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

$dark: #000000;
$dim: #222;
$soft: #aaa;
$light: #ffffff;

$s: 0.7rem;
$m: 0.9rem;
$l: 1rem;
$xl: 1.3rem;

$thin: 200;
$regular: 400;
$bold: 600;

$rounded: 0.5rem;
$rounded-s: 0.15rem;

$max-width: 600px;

html,
body {
    widht: 100%;
    background: $dark;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
pre,
code,
ul,
ol,
li,
img,
div,
main,
button,
input,
textarea,
blockquote {
    font-family: "Inter", serif;
    color: $light;
    font-size: $m;
    line-height: 1.5;
    font-weight: $regular;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    width: 100%;
}

a {
    font-size: inherit;
    text-decoration: none;
}

h1 {
    font-size: $xl;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: $max-width;
    padding: 0.5rem 0.5rem;
    gap: 2rem;
}

nav {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::placeholder {
    color: $soft;
    opacity: 1;
}

input,
textarea {
    outline: none;
    background: none;
    border: none;
    padding: 0.5rem 0.75rem;
    width: 100%;
    text-align: center;
    color: $light;
    &:focus {
        border-bottom: solid 1px $soft;
    }
}
textarea {
    text-align: left;
    resize: vertical;
}

button {
    cursor: pointer;
    outline: none;
    background: $dim;
    font-size: $s;
    padding: 0.5rem 0.75rem;
    border: none;
    color: $soft;
    border-radius: $rounded;
    &:focus {
        outline: 1px solid $soft;
    }
    &.secondary {
        background: none;
        color: $soft;
        border: solid 1px $dim;
    }
    &:disabled {
        background: $dark;
        color: $soft;
    }
}

.burger {
    width: 1.75rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3rem 0rem;
    div {
        width: 100%;
        height: 0.15rem;
        background: $light;
    }
}

.clickable {
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.habit-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3rem 3rem 3rem 3rem 3rem;
    grid-row-gap: 0.5rem;

    .date {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            font-size: $s;
            text-align: center;
            color: $soft;
        }
        &.today p {
            color: $light;
        }
    }
    .caption {
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: $dim;
        border-radius: $rounded 0 0 $rounded;
        p {
            font-size: $s;
            word-break: break-word;
            padding: 0.5rem 0;
        }
    }
    .check {
        padding: 0.8rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justtify-content: center;
        background: $dim;
        &.rounded {
            border-radius: 0 $rounded $rounded 0;
        }
        &.x img {
            opacity: 0.5;
        }
    }
}

.home-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.hidden {
    display: none;
}

$cell-size: 2.25rem;
.habit {
    width: 100%;
    margin-bottom: 3.25rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    .input-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        aldign-items: center;
        gap: 0.5rem;
        button {
            height: 3rem;
        }
        input {
            width: 100%;
            height: 3rem;
            border: none;
            background: $dim;
            color: $light;
            border-radius: $rounded;
        }
    }
    .weeks {
        margin-top: 1.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 0.25rem;
        margin-left: calc($cell-size + 0.15rem);
        margin-right: calc($cell-size + 0.15rem);
        padding-right: calc($cell-size + 0.15rem);
        .weekdays {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 0.25rem;
            p {
                color: $soft;
                font-size: $s;
                width: $cell-size;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .week {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: start;
            align-items: center;
            overflow: none;
            gap: 0.25rem;
            p,
            button {
                width: $cell-size;
                height: $cell-size;
                font-size: $s;
                background: $dim;
                text-align: center;
                color: $light;
                border-radius: $rounded-s;
                display: flex;
                align-items: center;
                justify-content: center;
                &.head {
                    background: none;
                    color: $soft;
                }
                &.checked {
                    background: $light;
                    color: $dark;
                }
                &.today {
                    font-size: $l;
                    font-weight: 200;
                }
            }
        }
    }
    .metrics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        width: 100%;
        .metric {
            height: 3.25rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.25rem;
            width: 100%;
            border-radius: $rounded;
            background: $dim;
            padding: 0.5rem 0.75rem;
            p {
                color: $light;
                font-size: $s;
                text-align: center;
                &.title {
                    color: $soft;
                }
            }
        }
    }
    .buttons {
        margin-top: 1.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        button.more {
            width: 100%;
            height: 3.25rem;
        }
    }
}

.export-import {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    .import-status {
        width: 100%;
        text-align: center;
    }
    textarea {
        width: 100%;
        height: 80vh;
        padding: 0.5rem;
        background: $dim;
        color: $light;
        border-radius: $rounded;
    }
    .buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }
}
