/* inter-200 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    src: url("/font/inter-v18-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("/font/inter-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("/font/inter-v18-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

$dark: #000000;
$dim: #1b1b1b;
$soft: #808080;
$light: #ffffff;

$s: 0.7rem;
$m: 0.9rem;
$l: 1rem;
$xl: 1.3rem;

$cell-size: 2.25rem; //

$thin: 200;
$regular: 400;
$bold: 600;

$rounded: 0.5rem;
$rounded-s: 0.15rem;

$max-width: 600px;

html,
body {
    widht: 100%;
    background: $dark;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
}

p,
a,
img,
div,
main,
button,
input,
textarea {
    font-family: "Inter", serif;
    color: $light;
    font-size: $m;
    line-height: 1.5;
    font-weight: $regular;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 1.25rem;
    height: 1.25rem;
}

p {
    width: 100%;
}

a {
    font-size: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: $max-width;
    padding: 0.5rem 0.5rem;
    gap: 1.5rem;
}

nav {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::placeholder {
    color: $soft;
    opacity: 1;
}

input,
textarea {
    padding: 0.5rem 0.75rem;
    width: 100%;
    text-align: center;
    color: $light;
    border-radius: $rounded;
    min-height: 3rem;
}
textarea {
    text-align: left;
    resize: vertical;
}

button,
a.button {
    cursor: pointer;
    font-size: $s;
    padding-left: 1rem;
    padding-right: 1rem;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

input,
textarea,
button,
a.button {
    background: $dim;
    border: none;
    outline: none;
    color: $light;
    border-radius: $rounded;
    min-height: 3rem;
    -webkit-tap-highlight-color: transparent;
    &:focus {
        outline: 1px solid $soft;
    }
    &:disabled {
        background: $dark !important;
        color: $soft !important;
        cursor: not-allowed;
    }
}

.habit-list {
    padding-top: 0.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3rem 3rem 3rem 3rem 3rem;
    grid-row-gap: 0.5rem;

    .date {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            font-size: $s;
            text-align: center;
            color: $soft;
        }
        &.today p {
            color: $light;
        }
    }
    .caption {
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: $rounded 0 0 $rounded;
        border: solid 1px $dim;
        border-right: none;
        p {
            font-size: $s;
            word-break: break-word;
            padding: 0.5rem 0;
        }
    }
    .check {
        padding: 0.8rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justtify-content: center;
        background: none;
        border: solid 1px $dim;
        border-left: none;
        border-right: none;
        &.rounded {
            border-radius: 0 $rounded $rounded 0;
            border-right: solid 1px $dim;
        }
        &.x img {
            opacity: 0.5;
        }
    }
}

.buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    a {
        width: 100%;
        height: 3rem;
        button {
            width: 100%;
            height: 3rem;
        }
    }
    .more {
        grid-column: span 3;
    }
}

a.hidden,
.hidden {
    display: none;
}

.habit {
    width: 100%;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    width: 100%;
    gap: 0.5rem;
    .topbar {
        grid-column: span 3;
        display: grid;
        grid-template-columns: 5rem 1fr 5rem;
        gap: 0.5rem;
        a {
            width: 100%;
            height: 3rem;
        }
        button {
            width: 100%;
            height: 3rem;
        }
        input {
            width: 100%;
            height: 3rem;
            border: solid 1px $dim;
            color: $light;
            border-radius: $rounded;
        }
    }
    .full-width {
        grid-column: span 3;
    }
    .two-thirds {
        grid-column: span 2;
    }

    .metric {
        height: 3.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        width: 100%;
        border-radius: $rounded;
        background: none;
        border: solid 1px $dim;
        padding: 0.5rem 0.75rem;
        p {
            color: $light;
            font-size: $s;
            text-align: center;
            &.title {
                color: $soft;
            }
        }
    }
    .buttons {
        grid-column: span 3;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        button.more {
            width: 100%;
            height: 3.25rem;
        }
    }
}

.weeks {
    width: 100%;
    grid-columns: span 3;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.25rem;
    margin-left: calc($cell-size + 0.15rem);
    margin-right: calc($cell-size + 0.15rem);
    padding-right: calc($cell-size + 0.15rem);
    .weekdays {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        p {
            color: $soft;
            font-size: $s;
            width: $cell-size;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .week {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: center;
        overflow: none;
        gap: 0.25rem;
        p,
        button {
            min-height: $cell-size;
            width: $cell-size;
            height: $cell-size;
            font-size: $s;
            background: $dim;
            text-align: center;
            color: $light;
            border-radius: $rounded-s;
            display: flex;
            align-items: center;
            justify-content: center;
            &.head {
                background: none;
                color: $soft;
            }
            &.checked {
                background: $light;
                color: $dark;
            }
            &.today {
                font-size: $l;
                font-weight: 200;
            }
        }
    }
}

.export-import {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    .import-status {
        width: 100%;
        text-align: center;
    }
    textarea {
        width: 100%;
        height: 80vh;
        padding: 0.5rem;
    }
    .buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }
}
